*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    color:#fff;
    background-color: rgb(17, 61, 39);
}

.container{
    border:3px solid black;
    height:69.2vh;
    width:45vh;
    border-radius: 15px;
    background-color:rgba(0, 174, 255, 0.253);
    overflow: hidden;
}
p{
    text-align: center;
    font-size: 2rem;
    color: black;
    font-family: cursive;
}
.textbox{
    height:4rem;
    width:100%;
}

.textbox input{
    height: 4rem;
    width:100%;
    border:none;
    outline:none;
    text-align: right;
    font-size: 1.9rem;
    color:orangered;
}
.keys{
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
.key{

    height:72px;
    width:72.9px;
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(5, 65, 45);
    color:#fff;
    
}

.no{
    background-color: rgba(255, 208, 0, 0.774);
    color:black;
}

.clear{
    display: flex;
    
}
.clear button{
    height:3.1rem;
    width:50%;
    border-radius: 5px;
    background-color: rgba(134, 37, 13, 0.719);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color:rgb(130, 231, 14);
    border:1px solid black;
}

